.w-110px {
    width: 110px;
}

.h-100vh {
    height: 100vh
}

.delete-attribute-button {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.55);
}

.delete-attribute-button:hover {
    background-color: red;
    color: #fff;
}

.opacity-0 {
    opacity: 0;
}

.component-container {
    margin: 1rem;
    margin-left: 30px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
}

.content-header {
    display: flex;
    align-items: center;
    color: white;
    height: 100px;
    padding: 0 1.5rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 0%, #063F30 80%, #BFE85F 400%);
}

.cards-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.cards-list .card-item {
    width: 95%;
    overflow: hidden;
    background-color: rgb(244, 244, 244);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border-top: 1px dashed #063F30;
    border-left: 1px dashed #063F30;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
    box-shadow: 10px 10px 14px 4px #070020;
    -webkit-box-shadow: 10px 10px 14px 4px #070020;
    -moz-box-shadow: 10px 10px 14px 4px #070020;
}

.cards-list .card-item .card-item-head {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 25px;
    padding: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    align-items: center;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 0%, #063F30 80%, #BFE85F 400%);
}

.cards-list .card-item .card-item-head i {
    margin: 6px;
}

.cards-list .card-item .card-item-body {
    width: 100%;
    height: 70px;
    color: #063F30;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 25px;
}

.cards-list .card-item .card-item-body .role-assign-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #063F30;
    margin: 6px;
}

.cards-list .card-item .card-item-body div,  .cards-list .card-item .card-item-head div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-list .card-item .card-item-body div {
    width: 49%;
}

.popup-header {
    font-size: 3.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #fff;
    font-family: "lexend";
    padding: 3rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 0%, #063F30 80%, #BFE85F 400%);
}

.popup-content {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #063F30;
    line-height: 1.5;
    margin: 7rem 2rem 0 2rem;
}

.popup-button-wrapper {
    display: flex;
    justify-content: center;
}

.delete-button {
    width: 220px!important;
    height: 80px!important;
    font-size: 2rem!important;
    margin-top: 5rem!important;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #200000 0%, #810f0f 80%, #BFE85F 400%)!important;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.button-container button {
    width: 465px;
    height: 100px;
    font-size: 30px;
}

.expand-card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible!important;
    width: 230px;
    height: 50px;
    color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #070020;
    transition: all 0.5s ease;
}

.expand-card-item:hover {
    cursor: pointer;
    width: 200px;
}

.expand-card-item i {
    font-size: 25px;
    margin: 5px 0;
}

.expand-card-item-list {
    max-height: 10000px!important;
    transition: all 0.5s ease!important;
}

.card-item-subitems {
    max-height: 0;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all 0.7s ease;
}

.card-item-head-not-checked {
    color: white!important;
    background-image: none!important;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #200000 0%, #810f0f 80%, #BFE85F 400%)!important;
}

.edit-user-container {
    margin: 1rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
}

.edit-user-header {
    display: flex;
    align-items: center;
    color: white;
    height: 100px;
    padding: 0 1.5rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 0%, #063F30 80%, #BFE85F 400%);
}

.edit-user-header button {
    padding: 5px 20px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #eee;
    background-image: none;
    background-color: #070020;
}

.user-info {
    margin-bottom: 4rem;
}

.user-roles {
    margin-bottom: 4rem;
}


.user-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image .avatar-hint {
    color: #063F30;
    font-size: 30px;
}

.user-image .image-wrapper {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #063F30;
    margin: 0;
}
  
.user-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.user-image input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.user-image .image-wrapper i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #063F30;
    font-size: 50px;
}
  
.user-image .image-wrapper:hover i {
    display: block;
    cursor: pointer;
}
  
.user-image .image-wrapper:hover {
    opacity: 0.8;
}
  
.user-image .image-wrapper:hover img {
    opacity: 0.5;
}

.info-input {
    padding: 0;
    width: 400px;
    height: 50px;
}

.info-input input {
    margin: 5px 0;
    padding: 2px 15px;
    width: 98%;
    height: inherit;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #063F30;
    border: 1px dashed #063F30;
    background-color: rgb(235, 235, 235);
}

.user-avatar-password {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.user-generate-password {
    width: 50%;
    height: 100%;
}

.user-generate-password .password-hint {
    margin: 25px;
    color: #063F30;
    font-size: 25px;
}

.user-generate-password .password-button {
    font-size: 20px;
    margin: 25px 25px 50px 25px;
}

td {
    font-size: 25px;
}

.no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 5rem;
    color: brown;
}

.enable-disable-user {
    margin: 3rem 1rem;

}

.enable-disable-switch {
    margin: 2rem 0;
    width: 34%;
}

.enable-disable-hint {
    font-size: 25px;
    margin: 1rem;
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #063F30;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.user-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image .avatar-hint {
    color: #063F30;
    font-size: 30px;
    margin: 20px;
}

.user-image .image-wrapper {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #063F30;
    margin: 2rem;
}
  
.user-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.user-image input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.user-image .image-wrapper i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #063F30;
    font-size: 50px;
}
  
.user-image .image-wrapper:hover i {
    display: block;
    cursor: pointer;
}
  
.user-image .image-wrapper:hover {
    opacity: 0.8;
}
  
.user-image .image-wrapper:hover img {
    opacity: 0.5;
}