.delete-header {
    font-size: 3.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #fff;
    font-family: "lexend";
    padding: 3rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 0%, #063F30 80%, #BFE85F 400%);
}

.delete-content {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #063F30;
    line-height: 1.5;
    margin-top: 7rem;
}

.delete-button-wrapper {
    display: flex;
    justify-content: center;
}

.delete-botton {
    width: 220px;
    height: 80px;
    font-size: 2rem;
    margin-top: 5rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #200000 0%, #810f0f 80%, #BFE85F 400%);
}