.edit-role-container td {
    font-size: 25px;
}

.update-role {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.update-role button {
    font-size: 30px;
}

.edit-role-container .edit-role-header {
    display: flex;
    align-items: center;
    color: var(--boundry-color);
    height: 100px;
    padding: 0 1.5rem;
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) 0%, var(--primary-color) 80%, var(--support-color) 400%);
}

.edit-role-header button {
    background-image: none;
    background-color: var(--secondary-color);
}