.generate-password-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.generate-password-modal div {
    color: #063F30;
    font-size: 30px;
    margin-bottom: 2rem;
}

.generate-password-modal button {
    font-size: 25px;
}

.generate-password-modal button i {
    margin-left: 10px;
}

.generate-password-modal input {
    color: #063F30;
    font-size: 20px;
    margin: 3rem 1rem;
    padding: 1rem;
    height: 80px;
    width: 80%;
    border-radius: 30px;
    background-color: rgb(224, 224, 224);
    border: 2px dashed #063F30;
    text-align: center;
}

.generate-password-modal input[type="text"]:focus {
    border: 2px dashed #063F30;
    outline: none;
}