.pagination-wrapper {
    font-family: "lexend";
    text-align: center;
    height: inherit;
    background-color: transparent;
    margin-top: 10px;
}
  
.pagination {
    display: inline-block;
    border-radius: 35px;
    background-color: #eee;
}

.page-numbers {
    text-decoration: none;
    display: block;
    padding: 0 25px;
    float: left;
    transition: 400ms ease;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 70px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.page-numbers:hover, .page-numbers.current {
    background: radial-gradient(circle, rgba(6,63,48,1) 38%, rgba(7,0,32,1) 100%, rgba(7,0,32,1) 100%);
    color: var(--boundry-color);
}

.page-numbers.prev:hover, .page-numbers.next:hover {
    background-color: transparent;
    color: var(--support-color);
}

.page-numbers.first {
    color: var(--boundry-color);
    background-image: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 50%, var(--support-color) 1000%);
    border-radius: 40px 0 0 40px;
}

.page-numbers.last {
    color: var(--boundry-color);
    background-image: linear-gradient(90deg, var(--support-color) -1000%, var(--primary-color) 50%, var(--secondary-color) 150%);
    border-radius: 0 40px 40px 0;
}

.page-numbers.first:hover, .page-numbers.last:hover {
    color: var(--support-color);
}