.dropdown-page {
    position: absolute;
    width: 150px;
    filter: url(#goo);
    color: #fff;
    margin-top: -30px;
    margin-left: -100px;
}

.dropdown-page__face, .dropdown-page__items {
    background-color: #063F30;
    padding: 20px;
    border-radius: 25px;
}

.dropdown-page__face {
    display: block;
    position: relative;
    background-image: linear-gradient(90deg, #070020 0%, #063F30 50%, #BFE85F 1000%);
}

.dropdown-page__face:hover {
    cursor: pointer;
}

.dropdown-page__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    background-image: linear-gradient(90deg, #070020 0%, #063F30 50%, #BFE85F 1000%);

}

.dropdown-page__items li {
    color: #063F30;
    padding: 3px;
    margin-right: 19px;
    margin-left: -10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.dropdown-page__items li:hover {
    background-color: #BFE85F;
}

.dropdown-page__items::before {
    content: "";
    background-color: #063F30;
    position: absolute;
    bottom: 100%;
    right: 20%;
    height: 40px;
    width: 20px;
}

.dropdown-page__arrow {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
}

.dropdown-page .page-input {
    display: none;
}

.dropdown-page .page-input:checked ~ .dropdown-page__items {
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
}

svg {
    display: none;
}