.assign-role-header {
    display: flex;
    align-items: center;
    color: var(--boundry-color);
    height: 100px;
    padding: 0 1.5rem;
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) 0%, var(--primary-color) 80%, var(--support-color) 400%);
}