.showall-container {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 27px;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 30px;
    transform: scale(0.8);
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 0%, #063F30 80%, #BFE85F 200%);   
}

.showall-container input{

    width: 30px;
    height: 30px;
    margin-left: 10px;
}