.card-layout {
    width: 550px;
    height: 650px;
    background: var(--primary-color);
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) -50%, var(--primary-color) 60%, var(--support-color) 200%);
    box-shadow: 7px 7px 10px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 10px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 10px 4px rgba(0,0,0,0.75);
    margin: 20px;
    display: inline-block;
    padding: 5px;
    font-family: "lexend";
}

.card-imge {
    height: 130px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.card-title-id {
    margin-left: -30px;
    margin-top: 95px;
}

.card-imge .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--support-color);
    transform: translateX(10px) translateY(10px);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 85px;
}

.card-imge .card-title {
    background-color: var(--boundry-color);
    width: 250px;
    height: 40px;
    border-width: 10px;
    border-radius: 5px;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
    transform: translateX(70px) translateY(-35px);
    padding-left: 20px;
}

.card-imge .card-unique-id {
    background-color: var(--boundry-color);
    width: 350px;
    height: 40px;
    border-width: 10px;
    border-radius: 5px;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
    transform: translateX(70px) translateY(-25px);
    padding-left: 20px;
}
  
.description {
    border-color: #141414;
    background-color: var(--boundry-color);
    transform: translate(5px, 6px);
    width: 530px;
    height: 360px;
    border-radius: 5px;
    padding: 20px;
    font-size: 35px;
    margin: 8px 0;
}
  
.card-footer:before {
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    transform: translatey(10px);
    background: var(--support-color);
}

.card-footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: var(--boundry-color);
}

.card-footer-inner a {
    margin:auto;
    margin-top: 40px;
}

.card-show i {
    color: var(--boundry-color);
    transform: translatex(25px) translateY(20px);
    margin-right: 10px;
}

.card-show {
    color: var(--boundry-color);
    width: 120px;
    padding: 5px 0;
    display: inline-block;
    font-size: 30px;
}

.card-show:hover {
    border-bottom: 1px solid var(--support-color);
    color: var(--support-color);
}
