
.droplist-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    margin: 0 10px;
    /* max-width: 500px; */
}

.droplist-container .selectbox {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.droplist-container .option-container {
    background-color: var(--primary-color);
    color: var(--boundry-color);
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10000;
}
  
.droplist-container .selectbox--active .option-container {
    max-height: 210px;
    opacity: 1;
    overflow-y: auto;
}
  
.droplist-container .selectbox__displayWord,
.droplist-container .option-container__option {
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
  
.droplist-container .selectbox__displayWord {
    position: relative;
    color: var(--boundry-color)!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid var(--secondary-color);
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) 0%, var(--primary-color) 80%, var(--support-color) 200%);
}

.droplist-container .selectbox__displayWord i {
    font-size: 35px;
    transition: all 0.4s linear;
}

.droplist-container .selectbox__displayWord::after {
    position: absolute;
    top: 50%;
    right: 16px;
    content: "";
    background: url("https://image.flaticon.com/icons/svg/271/271210.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  
    height: 16px;
    width: 16px;
    color: #f5f6fa;
    transform: translateY(-50%);
}
.droplist-container .selectbox--active .selectbox__displayWord::after {
    transform: translateY(-50%) rotateZ(180deg);
}

.droplist-container .selectbox--unselect .selectbox__displayWord {
    color: gray;
}

.droplist-container .option-container__option:hover {
    background-color: var(--secondary-color);
}

.droplist-container .option__radio {
    display: none;
}

.droplist-container .option__label {
    cursor: pointer;
}

.droplist-container .search-columns i {
    color: var(--primary-color);
}

.droplist-container .rotate-180 {
    transform: rotate(180deg);
}

.droplist-container .droplist-search-options {
    position: relative;
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
}

.droplist-container .form-style {
    padding: 13px 20px;
    padding-left: 60px;
    height: 51px;
    width: 100%;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 25px;
    letter-spacing: 0.5px;
    outline: none;
    color: black;
    background-color: var(--boundry-color);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  
  .droplist-container .form-style:focus,
  .droplist-container .form-style:active {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }