.file-input-container {
    max-width: 100%;
}

.file-input {
    display: none;
}

.file-input-label {
  background-image: var(--background-image), linear-gradient(43deg, var(--support-color) -200%, var(--primary-color) 20%, var(--secondary-color) 200%);
  color: var(--boundry-color);
  font-weight: bold;
  padding: 20px 70px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100%;
  overflow: auto;
}
  
  .file-input-label:hover {
    background: var(--secondary-color);
  }
  
  .file-input-label:active {
    background: var(--primary-color);
  }