.header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 -100%, #063F30 100%, #BFE85F 300%);
    background-color: #063F30;
    height: 85px;
    padding: 0 2em;
}