.header {
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) -100%, var(--primary-color) 100%, var(--support-color) 300%);
    background-color: var(--primary-color);
    height: 85px;
    padding: 0 2em;
}