.hint-container {
    position: relative;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg"), linear-gradient(43deg, #070020 0%, #063F30 80%, #BFE85F 200%);
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    width: 99%;
}

.hint-container .close-hint {
    position: absolute;
    text-align: center;
    top: -15px;
    right: -15px;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    width: 37px;
    border: 1px solid #000;
    cursor: pointer;
}

.hint-container .hint {
    margin: 20px 0;
    color: red;
}