.hint-container {
    position: relative;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) 0%, var(--primary-color) 80%, var(--support-color) 200%);
}

.hint-container .close-hint {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    font-size: 30px;
    background-color: var(--boundry-color);
    border-radius: 10%;
    width: 44px;
    border: 1px solid #000;
    cursor: pointer;
}

.hint-container .hint {
    margin: 20px 0;
    color: red;
}