.messages-list {
    border: 2px solid var(--primary-color);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.messages-list-item {
    position: relative;
    margin: 30px 0 10px 0;
}

.messages-list-title {
    position: absolute;
    text-align: center;
    left: 5%;
    top: -15px;
    padding: 8px;
    width: 25%;
    color: var(--boundry-color);
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) 0%, var(--primary-color) 80%, var(--support-color) 200%);
}

.messages-list-content {
    padding: 35px 10px 10px 10px;
    font-size: 20px;
    margin: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: rgb(240, 238, 238);
}

.messages-list-total {
    position: relative;
    float: right;
    margin-top: -64px;
    padding: 20px;
    border-top-left-radius: 1000px;
    background-color: var(--primary-color);
    color: var(--boundry-color);
}