
.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    background-image: var(--background-image), linear-gradient(43deg, var(--secondary-color) 0%, var(--primary-color) 80%, var(--support-color) 200%);
    z-index: 1000;
}

.search-container .selectbox {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 200px;
}

.search-container .option-container {
    background-color: var(--primary-color);
    color: var(--boundry-color);
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
    border-radius: 8px;
    overflow: hidden;
}
  
.search-container .selectbox--active .option-container {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}
  
.search-container .selectbox-displayWord,
.search-container .option-container-option {
    padding: 12px 24px;
    cursor: pointer;
}
  
.search-container .selectbox-displayWord {
    position: relative;
    background-color: var(--primary-color);
    color: var(--boundry-color)!important;
    border-radius: 8px;
    height: 40px;
    display: flex;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--boundry-color);
}

.search-container .selectbox-displayWord i {
    transition: all 0.4s linear;
}

.search-container .selectbox-displayWord::after {
    position: absolute;
    top: 50%;
    right: 16px;
    content: "";
    background: url("https://image.flaticon.com/icons/svg/271/271210.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  
    height: 16px;
    width: 16px;
    color: #f5f6fa;
    transform: translateY(-50%);
}
.search-container .selectbox--active .selectbox-displayWord::after {
    transform: translateY(-50%) rotateZ(180deg);
}

.search-container .selectbox--unselect .selectbox-displayWord {
    color: gray;
}

.search-container .selectbox--shake {
    animation: shake 0.3s forwards;
}

.search-container .option-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.search-container .option-container-option:hover {
    background-color: var(--secondary-color);
}

.search-container .option-radio {
    display: none;
}

.search-container .option-label {
    cursor: pointer;
}

.search-container .search-columns i {
    color: var(--primary-color);
}

.search-container .search-input {
    width: 60%;
    border-radius: 10px;
    padding: 10px 10px;
}

.search-container .search-button {
    color: var(--boundry-color);
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border: 1px solid var(--boundry-color);
}

.search-container .search-button:hover {
    transform: scale(1.2) rotate(-45deg);
}

.search-container .search-button:active {
    cursor: grab;
    transform: scale(0.95);
}

.search-container .rotate-180 {
    transform: rotate(180deg);
}

@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }