.switch .checkbox:checked + label,
.switch .checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #BFE85F;
}
.switch .checkbox:checked + label:before,
.switch .checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #BFE85F;
  background-color: #070020;
  font-family: 'unicons-line';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.switch .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.switch .checkbox:not(:checked) + label:before {
  color: brown;
}

.switch .checkbox:not(:checked) + label {
  background-color: brown;
}

.switch h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}