.textarea2-wrapper {
    width: 100%;
    position: relative;
}
  
.textarea2 {
    width: 100%;
    background-color: var(--boundry-color);
    color: #222;
    font-family: Courier, monospace;
    font-weight: normal;
    font-size: 24px;
    resize: none;
    line-height: 59px;
    padding: 10px;
    background-size: 100% 59px, cover;
    background-repeat: repeat-y, repeat;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    height: 75px;
}

.textarea2-lock {
    position: absolute;
    left: 46%;
    top: 50%;
    margin-top: -10%;
    color: #bbb;
    font-size: 250px;
}